html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;

}   
.nav-item a:hover{
    color: #FFFF !important;
}
.navbar-toggler{
    border: none;
    font-size: 1.5em;
}
/* Header  */
.navbar{
    background-color: #000000 !important;
}
/* Section Login */
.tela-login,
.tela-404{
    overflow: auto;
    width: auto !important;
    color: whitesmoke;
    background-color: #000000;
    background-image: url('../assets/background_login.png') !important;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    align-items: center;
}
/* Section Cadastro */
.tela-cadastro{
    background-color: black;
    text-align: center;
    color: white;
}

.tela-catalogo{
    background-color: black;
    

}
.card-text{
    font-size: medium !important;
    text-align: left;
}

.banner{
    background-image: url('../assets/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: white;
    text-align: center;
    box-shadow: 20px 0px 100px black inset;
}
.title-banner{
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold !important;
    font-size: 2.5em;
    background-color: #0000005e;
}

/* Buttons */
.btn-danger{
    background-color: #E50914 !important;
    font-weight: bold;
}

/* Formulário estilo*/
.form-control{
    background-color: #333333 !important;
    border: none !important;
    border-radius: 10px !important;
    color: rgba(245, 245, 245, 0.726) !important;
    padding: 0.8em !important;
}
.form-check-input{
    background-color: #333333 !important;
}

/* Títulos e subtítulos */
.sub-title{
    font-weight: 300 !important;
}

/* Footer */
.footer{
    color: whitesmoke;
    background-color: #000000;
    font-weight: 300 !important;
    text-align: center;
    padding:  20px 0px;
    border-top: 5px solid #222222;

}
.footer a{
    color: #e50914bd;
    transition: 1s;
    text-decoration: none;

}
.footer a:hover{
    color: #e50914;
}
.fab.fa-react{
    font-size: xx-large;
    color: #e50914 !important;

}

.tela-sobre p{
    text-indent: 0.5em !important;
    text-align: left;
}
.fist-l::first-letter{
    font-size: 3em !important;
    color:#344c9d;
    font-weight: 300;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    html{
        font-size: 1.2em !important;
    }

    .tela-login,
    .tela-404{
        background-position: center !important;
  
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }
@media(min-height: 481px){
    .tela-login,
    .tela-404{
        height: calc(100vh - 59px);
        width: 100%;
    }
}