*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    font-size: 12px;
    font-family: "NunitoBold";
}
hr{
    background-color: rgb(95, 95, 95);
}

/* Incio barra de navegação
-------------------------- */
.navbar{
    -webkit-box-shadow: 0px 9px 12px -10px rgba(0,0,0,0.521);
    -moz-box-shadow: 0px 9px 12px -10px rgba(0,0,0,0.521);
    box-shadow: 0px 9px 12px -10px rgba(0, 0, 0, 0.521);
    background-color: rgb(0, 0, 0);
    padding-top: 0  !important;
    padding-bottom: 0 !important;
    text-transform: uppercase

}

.navbar-brand img{
    width: 45px !important;
}
.logoname{
    display: inline-block;
    color: #1a6fb0;
}

.logoname h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
}


.navbar-brand img:active,
.navbar-brand img:hover{
    transform: rotate(-360deg) !important;
    transition: 1s;
}

.navbar-nav li a{ 
    text-align: center !important;
    color: #1a6fb0 !important;
    font-family: 'Balsamiq Sans', cursive;

}

.navbar-nav li{
    margin: 0 2em 0 2em;
}


.navbar-toggler{
    color: rgb(255, 255, 255) !important;
    outline: none !important;
}
.navbar a:active,
.navbar a:hover{
    text-shadow: 0px 0px 9px #5aaae7;
    transition: 1s;
}
/* Fim barra de navegação
--------------- */
.navbar-toggler{
    font-size: 2em !important;
    border: transparent !important;
}

.title-home,
.title{
    margin-bottom: 0.5em;
    font-family: 'Balsamiq Sans', cursive;
}

.footer .title {
    text-transform: capitalize;
    color: whitesmoke;
}

.subtitle-home,
.subtitle{
    font-family: 'Emilys Candy', cursive;
}

.title-home{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
    color: rgba(0, 0, 0, 0.795);
    font-size: 6em;
}

.subtitle-home{
    font-size: 2em;
    color: rgba(0, 0, 0, 0.726);
}

/* Inicio home */

.home{
    width: 100%;
    height: 100vh;
    background-image: url(img/wallpaper/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; /*Efeito paralax*/
    background-position: 80% 20%;
    /* background-position: 50% 50%; */
    background-size: cover;
      
}

.home h3{
    font-family: "Shadows Into Light Two";
    padding: 50px;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    letter-spacing: 2px;

}
.home cite{
    font-family: "NunitoBold";
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: -0.2px;
    color: #292729;
    font-weight: 700;
    font-style: italic; 
}

.control{
    color: rgb(0, 0, 0);
}
/* Fim Home */

.footer,
.sobre-nos,
.home,
.clientes,
.servicos{
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}



/* Inicio servicos */
.clientes figcaption,
.servicos figcaption{
    color: rgb(128, 128, 128);
    font-family: 'Patua One', cursive;
}
/* fim servicos */

/* Inicio Clientes */

.album img{
    border-radius: 15%;
    padding-bottom: 1em;
    /* border: 1px solid black; */
}
.album figcaption{
    font-size: 1.3em;
    /* text-align: center; */
}
/* fim clientes */


/* Início sobre nós */
.sobre-nos h5{
    font-family: 'Shadows Into Light Two';
    color: rgb(44, 44, 44);
}

.sobre-nos{
    background-image: linear-gradient(108.47686233374338deg, rgba(98, 185, 183,1) 5.911420204978038%,rgba(236, 246, 237,1) 95.95534407027817%);
}
/* fim sobre nos */

/* ---------Inicio card------------- */
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;

}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 90px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-size: 2.5em;
    font-family: 'NunitoLight';
    /* font-weight:600; */
    color:#000000;
}
.profile-card-2 .card-text{
    color: rgba(0, 0, 0, 0.603);
    font-family: 'Patua One', cursive;
    font-size: 1em;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
    margin: 10px;
}
.profile-card-2 i {
    font-size: 25px;
    color: #747474;
    text-align: center;
    line-height: 30px;
    /* margin:0 20px; */
}
.profile-card-2 i:active,
.profile-card-2 i:hover {
  color:rgb(0, 0, 0);
  transition: 1s;
}
/* ---------Fim card------------- */
/* Fim sobre nós */

/*Inicio contato  */
.footer{
   background: black;
} 
.footer h2{
    color: rgba(99, 71, 255, 0.767);
}

.redes-sociais-rodape{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}


.redes-sociais-rodape li a{
    padding: 0px 10px;
    /* border: 1px solid blue; */
    color: rgb(167, 167, 167);
    font-size: 2em;
}
.desenvolvedor{
    color: rgba(233, 233, 233, 0.74);
}
.redes-sociais-rodape a:active,
.redes-sociais-rodape a:hover{
    text-shadow: 0px 6px 10px rgba(4, 0, 255, 0.575);
    transition: 1s;
}

/*Fim contato  */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .home{
        background-image: linear-gradient(115.59870798022928deg, rgba(250, 200, 205,1) 20.785139092240115%,rgba(248, 193, 105,1) 82.05893118594435%);
        /* background-position: 80% 20%; */
    }
    .margin-top{
        margin-top: 2em;
    }
}
   

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .home{
        background-image: linear-gradient(115.59870798022928deg, rgba(250, 200, 205,1) 20.785139092240115%,rgba(248, 193, 105,1) 82.05893118594435%);

        /* background-position: 80% 20%; */
    }
    .margin-top{
        margin-top: 2em;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .home{
        background-position: 50% 50%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }